<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Data Science Tools and Ecosystem

In [3]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

In [10]:
# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

SyntaxError: invalid syntax (3498160702.py, line 3)

In [5]:
#Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

SyntaxError: invalid syntax (3386140357.py, line 3)

In [6]:
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

SyntaxError: invalid syntax (626422986.py, line 1)

In [7]:
#Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables using markdown cells
- Perform arithmetic operations in Python

In [12]:
## Author
#Rafat Tausique